name: Publish Release

on:
  release:
    types: [published]

jobs:
  publish:
    permissions:
      id-token: write
      contents: read
    environment:
      name: npmjs
      url: https://www.npmjs.com/package/gplint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm i
      - run: npm test
      - run: npm run build
      - run: npm publish --tag=$(node -p "require('./package.json').version.match(/[0-9]+\.[0-9]+\.[0-9]+(-(.+)\.[0-9]+)?/)[2] || 'latest'")
